extends layout

block content
	div(class="row-fluid")
		div(class="span2") &nbsp;
		div(class="span8")
			a(class="btn btn-primary", href="/logout") Logout
			p
				form(method="post", action="/generate_key")
					input(type="text", value="#{key}", disabled="disabled")
					input(type="submit", class="btn btn-primary", value="Regenerate key")
		div(class="span2") &nbsp;
		